
<div class="settingsBox">
    <div fxLayout="column" fxFlex="350px" fxLayoutGap="10px" fxLayoutAlign="center stretch">
        <md-select placeholder="Unit Type" [(ngModel)]="unitType">
            <md-option value="kelvin">
                <span>Kelvin</span>
            </md-option>
            <md-option value="metric">
                <span>Celcius</span>
            </md-option>
            <md-option value="imperial">
                <span>Fahrenheit</span>
            </md-option>
        </md-select>
        
        <md-input-container>
            <input mdInput type="text" name="apiKey" placeholder="API Key" [(ngModel)]="apiKey" required>
        </md-input-container>
        
        <div fxFlex align="end">
            <button md-raised-button color="primary" (click)="save()" [disabled]="!apiKey">Save</button>
        </div>
    </div>

</div>



